DATABASE_URL="postgresql+asyncpg://kullanici:sifre@localhost:5432/veritabani_adi"

JWT_SECRET="change-me-in-prod"
JWT_ALGORITHM="HS256"

ACCESS_TOKEN_EXPIRE_MINUTES="120"
BASE_DOMAIN="behtechlabs.com"
ENVIRONMENT="development"